@{
    ViewData["Title"] = "Erişim Engellendi";
}

<div class="container mt-5">
    <div class="alert alert-danger">
        <h4 class="alert-heading">403 - Erişim Engellendi</h4>
        <p>Bu sayfaya erişim yetkiniz bulunmamaktadır.</p>
        <hr />
        <a href="/Login/Index" class="btn btn-primary">Giriş Sayfasına Dön</a>
    </div>
</div>
